config.h
config.log
config.status
libtool
.deps
stamp-h1
nusmv-2.2.pc
helpers/extract_doc
Makefile
examples/Makefile
doc/Makefile
doc/**/Makefile
contrib/Makefile
share/Makefile
.libs
NuSMV
autom4te.cache/
libnusmv.la
smVers.lo
